/* 기본 설정 */
        * {
            padding: 0;
            margin: 0;
            box-sizing: border-box;
        }
        
        /* 제목 */
        .title {
            margin-top: 100px;
            margin-left: auto;
            margin-right: auto;
            float:none;
	border-bottom: 2px solid #d0baa8;
	padding-bottom: 10px;
        }
        
        .title h2 {
            margin: 0 auto;
            text-align: center;
            width: 80%;
            
            
        }
        
        /* 테이블 틀 설정 */
        th {
            width: 20%;
            padding: 5px 10px;
            background-color: #F2EBEB ;
            font-weight: normal;
        }
        
        td {
            width: 80%;
            padding: 10px 0px 10px 0px;
            box-sizing: border-box;
        }
        
        tr {
            border-top: 1px solid;
            border-top-color: burlywood;
        }
        
        /* 테이블 내부 설정 */
        .qnaboard {
            margin:30px auto;
            padding: 60px 70px;
            width: 100%;
            margin-left: auto;
            margin-right: auto;
            float: none;
        }
        
        .board {
            width:70%;
            border-bottom: 1px solid;
            border-bottom-color: burlywood;
            text-align: left;
            margin-left: auto; margin-right: auto;
        }
        
        .board #content {
            height:200px;
            width: 80%;
            text-align: left;
            padding: 20px 15px;
            font-size: 16px;
        }
        
        td span {
            float: right;
            margin-left: 10px;
            font-size: 12px;
            vertical-align: middle;
            color: red;
            text-align: right;
        }
        
        th * {
            color: red;
        }
        
        /* 인풋 요소들 설정 */
        input {
            display: inline-block;
            width: 30%;
            border: none;
            
        }
        
        textarea {
            border: none;
        }
        
        input, select, textarea {
            margin-left: 20px;
        }
        
        
        /* 버튼 설정 */
        .buttonDiv {
            width: 82.2%;
            overflow: hidden;

        }
        .qnabutton {
            width: 12%;
            padding : 3px 0;
            background-color: #A18D82;
            color:white;
            border:none;
            text-align: center;
            float: right;
        }